body{
  background-color: #F0F8FF;
  zoom: 100%;
}

text{
    font-family:Open Sans, Arial, sans-serif;
    font-size:20px;
    pointer-events:none;
}

.lista-opcoes{
    position: relative;
    margin: 0;
    border: groove;
    padding-top: 10px;
    padding-bottom: 10px;
}

.social-footer {
  padding: 2rem;
  background: #F0F8FF;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
        justify-content: center;
}



.social-footer .social-footer-icons{
  margin-right: 0;
}

.fa:hover {
    opacity: 0.7;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 55px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.banner-rodape{
  margin-top: 10px;
}




